.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
}

.navItem img {
    width: 24px;
    height: 24px;
}
